body {

    background-color: #000;

    color: #fff;

    font-family: Arial, sans-serif;

    margin: 0;

    padding: 0;

}

.container {

    text-align: center;

    padding-top: 50px;

}

.logo {

    width: 200px;

    height: 100px;

}

.vip-image {

    width: 300px;

    height: auto;

    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);

    transition: box-shadow 0.3s;

}

.image-link {

    display: inline-block;

    text-decoration: none;

}

.image-link:hover .vip-image {

    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);

}
